<!-- templates/error.jinja -->

{% extends "base.jinja" %}

{% block title %}Error{% endblock %}

{% block extra_head %}
<!-- You can add page-specific styles or scripts here -->
<!-- <link rel="stylesheet" href="/static/css/home.css"> -->
{% endblock %}

{% block content %}

<h1>{{ message }}</h1>
<p>{{ details }}</p>
<a href="/">Go back to Home</a>

{% endblock %}
